html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body{
    background: floralwhite;
}
h1, h2, h3{
    padding:8px 0;
    font-weight: 700;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 16px;
}
.orchids {
    color:deeppink;
    padding:20px;
    width:300px;
    margin:0 auto;
    border: lavender 10px dotted;
    text-align: center;
}
img {
    max-width:300px;
    position: relative;
}
a{
    color: #137008;
    font-weight:600;
}
.table{
    display:table-cell;
    color: #800649;
    outline: 2px solid black;
    text-align:center;
}
.inlineBlock{
    font-size: 0;
}
.inB{
    font-size: 20px;
    display:inline-block;
    color: #800649;
    outline: 2px solid black;
    text-align:center;
}
.wrapper{
    outline: 1px solid black;
}
.floats{
    background:yellow;
}
.in-lfts{
    float: left;
    background: palegreen;
    color: #800649;
    outline: 2px solid black;
    text-align:center;
}
.clr{
    clear:both;
}
.clearfix:after{
    content:" ";
    clear:both;
    display:block;
}
.flex{
    display:inline-flex;
    background: palegreen;
    color: #800649;
    outline: 2px solid black;
    text-align:center;
}
.grid1{
    display:grid;
    background: palegreen;
    color: #800649;
    outline: 2px solid black;
    text-align:center;
    grid-template-columns: 600px 300px;
}
.grid2{
    display:grid;
    background: palegreen;
    color: #800649;
    outline: 2px solid black;
    text-align:center;
    grid-template-columns:repeat(2, 50%);
}

.grid-areas{
    display:grid;
    background: palegreen;
    color: #800649;
    outline: 2px solid black;
    text-align:center;
    grid-template-areas: "A A A B B B C C C"
                         "D D D D D D E E E"
                         "D D D D D D F F F"
                         "G G G G G G F F F"
                         "G G G G G G H H H"
                         "I I I I L L L L L"
                         "J J K K L L L L L"
                         "M M M M M M Q Q Q"
                         "N N N O O O Q Q Q"
                         "P P P O O O Q Q Q"
}
.A{
    grid-area: A;
    outline: 1px solid black;
}
.B{
    grid-area: B;
    outline: 1px solid black;
}
.C{
    grid-area: C;
    outline: 1px solid black;
}
.D{
    grid-area: D;
    outline: 1px solid black;
}
.E{
    grid-area: E;
    outline: 1px solid black;
}
.F{
    grid-area: F;
    outline: 1px solid black;
}
.G{
    grid-area: G;
    outline: 1px solid black;
}
.H{
    grid-area: H;
    outline: 1px solid black;
}
.I{
    grid-area: I;
    outline: 1px solid black;
}
.J{
    grid-area: J;
    outline: 1px solid black;
}
.K{
    grid-area: K;
    outline: 1px solid black;
}
.L{
    grid-area: L;
    outline: 1px solid black;
}
.M{
    grid-area: M;
    outline: 1px solid black;
}
.N{
    grid-area: N;
    outline: 1px solid black;
}
.O{
    grid-area: O;
    outline: 1px solid black;
}
.P{
    grid-area: P;
    outline: 1px solid black;
}
.Q{
    grid-area: Q;
    outline: 1px solid black;
}
.p{
    position:relative;
}
.tab{
    position: absolute;
    width:100%;
    top: calc(50% - 15px);
    left: 0;
    background: lavender;
    color: #800649;
    font-size:30px;
}
.forabs{
    position:relative;
    display:inline-block;
}
.nav{
    background: lavender;
    position:fixed;
    left:0;
    top:calc(50% - 176px);
    text-align: center;
}
.in_nav{
    border: 1px solid blueviolet;
    width:100px;
    padding:20px 30px;
}
.wrap{
    background: lavender;
    position:fixed;
    left:0;
    top:0;
    text-align: center;
}
ul li:hover{
    background: pink;
}
ul li a{
    text-decoration: none;
    text-align: center;
    display: block;
    position:relative;
    padding: 20px 45px 20px 35px;
}
li{
    color: #137008;
    text-align: center;
    font-weight: 700;
    outline: 1px solid blueviolet;
    background: lavender;
    font-size: 12px;
    position: relative;
    display:inline-block;
}
.ul1, .ul3{
    position:absolute;
    top:1000px;
    left:0;
    text-align: center;
    transition: top step-start;

}
.ul1 .ul3{
    left: 100%;
    top:1000px;
}
.ul2{
    position: absolute;
    right:100%;
    bottom:0;
    opacity: 0;
    pointer-events: none;
    transition: opacity step-start;
}
li:hover> .ul3{
    top: 0;
    transition: top 1s ease;
}
li:hover > .ul1{
    top: 100%;
    transition: top 1s ease;
}
li:hover > .ul2{
    opacity: 1;
    pointer-events: all;
    transition: opacity 1s ease;
}
ul{
    font-size: 0;
}
ul li ul li {
    width: 150px;
}
.wrap>li:before{
    content:"";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("gallery/sprites.png") -185px -115px;
    position: absolute;
    left:0;
    top:0;
}
.wrap>li+li:before{
    background: url("gallery/sprites.png") -185px -60px;
}

.wrap>li+li+li:before{
    left: 70%;
    background: url("gallery/sprites.png") -185px 0;
}
.wrap>li+li+li:hover:before{
    background-position: -455px -505px;
}
.ul1>.spr_flt:before{
    content:"";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("gallery/sprites.png") -65px -175px;
    position: absolute;
    left:70%;
    top:0;
}
.ul1>.spr_flt:hover:before{
    background: url("gallery/sprites.png") -20px -175px;
}
.ul1>li+li+li+li+li:before{
    content:"";
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("gallery/sprites.png") -350px -175px;
    position: absolute;
    left:0;
    top:0;
}
.ul1>li+li+li+li+li:hover:before{
    background: url("gallery/sprites.png") -395px -175px;
}
.socmenu{
    background:none;
    outline: none;
}
.socmenu:hover{
    background:none;
}
.socmenu a{
    display: block;
    width: 64px;
    height: 64px;
    bottom:0;
    left:0;
    padding:0 0;
    overflow: hidden;
}
.socmenu a:before{
    content:"";
    width: 64px;
    height: 64px;
    background: url("gallery/sprites.png") -20px -105px;
    display: inline-block;
    position: absolute;
    left:0;
    top:0;

}
.socmenu:hover:before{
    background:none;
}
.socmenu+.socmenu a:before{
    background-position: -20px -20px;
}
.socmenu+.socmenu+.socmenu a:before{
    background-position: -585px -15px;
}
.socmenu+.socmenu+.socmenu+.socmenu a:before{
    background-position: -585px -105px;
}
.socmenu:hover a:before{
    background-position: -435px -104px;
}
.socmenu+.socmenu:hover a:before{
    background-position: -436px -20px;
}
.socmenu+.socmenu+.socmenu:hover a:before{
    background-position: -434px -250px;
}
.socmenu+.socmenu+.socmenu+.socmenu:hover a:before{
    background-position: -345px -253px;
}
.wrap_hov_me{
    position:fixed;
    background:lavender;
    width: 150px;
    right:-300px;
    top:50%;
    transform: translateY(-50%);
    padding:110px;
}
.hov_me{
    position:absolute;
    font-size:40px;
    color: #137008;
    left:0;
    top:50%;
    transform: translateY(-50%) translateX(-40%) rotate(-90deg);
    animation: hov ease 0.8s infinite;
}
@keyframes hov {
    0%{opacity: 1}
    100%{opacity: 0}
}
.wrap_hov_me:hover{
    transform: rotateZ(-180deg);
    right: -40px;
    transition: all 1s ease;
}
.wrap_hov_me>ul{
    transform:rotate(-45deg);
}
.wrap_hov_me>ul>li>a:before{
    transform:rotate(225deg);
}
